
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.navbar {
    background-color: var(--primary-color);
    width: 100%;
}
.navbar>.container {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.navbar a{
    color: var(--text-color);
}
.navbar-brand {
    display: block;
    width: 100%;
    font-size: 7rem;
    line-height: normal;
    padding: 30px 0 10px;
}

.main-navbar {
    justify-content: center;
    padding: 10px 0;
}
.navbar-nav {
    font-size: 18px;
    font-weight: 600;
} 
.nav-item {
    margin: 0 15px 5px;
}
.nav-item:hover a{
    color: white;
}
.active {
    color: white!important;
}
.container {
    max-width: 1200px;
}
.site-content {
    padding-top: 40px;
    background-color: var(--secondary-color);
}
.post-wrapper {
    margin-bottom: 4rem;
}
.card {
    width: 90%;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.card-body {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.card-title {
    margin-bottom: 1.4rem;
}
.card-title a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.card-title a:hover {
    color: var(--text-color);
}
.card-text {
    font-size: 16px;
    font-weight: 300;
}
.footer {
    border-top: 1px solid white;
}
.footer__social {
    padding: 4rem 1rem;
    width: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
    font-size: 30px;
}
.footer__social-wrapper {
    padding: none;
    text-align: center;
}
.footer__social-item {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.footer__social-item a {
    color: white;
}
.footer__social-item:hover a {
    color: var(--text-color);
}
.footer__copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    width: 100%;
    background-color: var(--third-color);
    padding: 1rem 0px;
    color: rgb(241, 243, 242);
}
.post {
    font-family: 'Poppins', sans-serif;
}
.entry-header {
    max-width: 880px;
    margin-bottom: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 8;
}
h1.entry-title {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-transform: none;
    padding: 0;
    margin: 0;
}
.entry-title>span {
    color: var(--title-color);
}
.posted-on {
    color: white;
    font-size: 1.4rem;
}

.entry-content {
    color: white;
    font-size: 1.4rem;
    margin: 0 auto;
    max-width: 880px;
    padding: 40px 20px 60px;
    line-height: 2;
}
.entry-content p, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content ul, .entry-content ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 25px;
}
.entry-content h2 {
    font-size: 30px;
}
.entry-content p {
    font-size: 18px;
    font-weight: 300;
}