/*!  === SIMPLE SignUp UI === */

.cFWtYH .signup {
    padding: 40px 20px;
    background-color: white;
    border-radius: 30px;
    width: 100%;
}
.cFWtYH .signup-heading {
    text-align: center;
    font-weight: 600;
    color: #363a40;
    font-size: 35px;
    margin-bottom: 35px;
}
.cFWtYH .signup-google {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    background-color: #4c6ef4;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 45px;
    box-shadow: 0 10px 20px -5px rgba(76, 110, 244, 0.9);
}
.cFWtYH .signup-google-icon {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #ff7870;
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
}
.cFWtYH .signup-google-text {
    color: white;
    font-weight: 500;
    display: block;
    margin: 0 auto;
}
.cFWtYH .signup-or {
    color: #363a40;
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 55px;
}
.cFWtYH .signup-or-text {
    display: inline-block;
    padding: 5px 20px;
    background-color: white;
    position: relative;
    font-size: 14px;
}
.cFWtYH .signup-or:before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cFWtYH .signup-already {
    text-align: center;
    color: #363a40;
    font-size: 13px;
}
.cFWtYH .signup-already-link {
    color: #4c6ef4;
    text-decoration: none;
}

.cFWtYH .form-group {
    margin-bottom: 25px;
}

.cFWtYH .form-label {
    display: inline-block;
    cursor: pointer;
    color: #363a40;
    margin-bottom: 15px;
    font-size: 13px;
}

.cFWtYH .form-input {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
    background-color: #f2f3f5;
    color: #363a40;
    font-size: 16px;
}
.cFWtYH .form-input::-webkit-input-placeholder {
    color: #b4bdc1;
}

.cFWtYH .form-submit {
    display: block;
    margin-top: 45px;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background-color: #81c91d;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px -5px rgba(129, 201, 29, 0.9);
    outline: none;
}

@media screen and (max-width: 767px) {
    .cFWtYH .signup {
      padding: 30px 20px;
    }
}
  /*!  === Large SignUp UI === */
.fsXWWG .form-group {
   margin-bottom: 25px;
 }

 .fsXWWG .form-label {
   display: inline-block;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   margin-bottom: 10px;
   cursor: pointer;
   letter-spacing: 1px;
 }

 .fsXWWG .form-input {
   display: block;
   width: 100%;
   padding: 15px;
   border-radius: 12px;
   background-color: #f8f9fb;
   border: 0;
   color: #212144;
   font-size: 13px;
   transition: all 0.25s ease;
 }
 .fsXWWG  .form-input:focus {
   background-color: white;
   box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
   -webkit-box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
 }
 .fsXWWG .form-input::-webkit-input-placeholder {
   color: #a3a5b2;
 }

 .fsXWWG  .btn {
   display: inline-block;
   border: 0;
   border-radius: 10px;
   text-align: center;
   font-size: 14px;
   padding: 15px;
   text-transform: uppercase;
   background-color: transparent;
 }
 .fsXWWG .btn--gradient {
   background-image: linear-gradient(to bottom, #ff1d75, #f8902f);
   width: 100%;
   color: white;
 }

 .fsXWWG .tab {
   align-self: center;
   display: inline-flex;
   padding: 5px;
   background-color: #f8f9fb;
   border-radius: 10px;
   margin-bottom: 50px;
 }
 .fsXWWG .tab-item {
   text-transform: uppercase;
   font-size: 14px;
   padding: 7.5px 15px;
   border-radius: inherit;
   cursor: pointer;
   text-align: center;
   font-weight: 300;
 }
 .fsXWWG .tab-item.is-active {
   background-image: linear-gradient(to bottom, #ff1d75, #f8902f);
   color: white;
 }

 .fsXWWG .signup {
   width: 100%;
   max-width: 1200px;
   height: 100%;
   background-color: white;
   position: relative;
   z-index: 2;
   border-radius: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   overflow: hidden;
 }
 .fsXWWG .signup-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .fsXWWG  .signup-container {
   padding: 100px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
 }
 .fsXWWG .signup-heading {
   font-size: 45px;
   font-weight: bold;
   color: #212144;
   margin-bottom: 30px;
 }
 .fsXWWG .signup-form {
   width: 100%;
 }
 .fsXWWG .signup-term {
   font-size: 12px;
   font-weight: 500;
   line-height: 1.6;
 }
 .fsXWWG .signup-term-link {
   color: #2979ff;
 }

 @media screen and (max-width: 1023px) {
   
   .fsXWWG .signup {
     display: block;
   }
   .fsXWWG .signup-container {
     padding: 50px 20px;
   }
   .fsXWWG .signup-image {
     display: none;
   }
 }
 @media screen and (max-width: 767px) {
   .fsXWWG .signup-container {
     max-width: 100%;
   }
 }

/*!  === GHIBLI SIGNUP === */
.ghibli .signup {
    padding: 70px 40px;
    background-color: #000033;
    width: 100%;
    max-width: 400px;
}
.ghibli .signup-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.ghibli .signup-img img{
    width: 150px;
    border-radius: 50%;
}

.ghibli .signup-input {
    font-family: 'Poppins', sans-serif;
    color: #c3c3cf;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bb7b87;
}
.ghibli .signup-input input {
    background-color: transparent;
    outline: none;
    border: none;
    color: #c3c3cf;
    padding: 1.5rem;
    width: 100%;
}

.ghibli .signup-forgot {
    color: #bb7b87;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    display: block;
    padding: 20px;
    font-size: 16px;
}
.ghibli .signup-forgot:hover {
    color: #cf8a96;
}

.ghibli .signup-button {
    background-color: #bb7b87;
    text-align: center;
    outline: none;
    border: none;
    padding: 17px 120px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #e4cacf;
    display: block;
    margin: 10px auto;
}
.ghibli .signup-button:hover {
    background-color: #c96d7d;
}
.ghibli .signup-register {
    color: #c3c3cf;
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}
.ghibli .signup-register span {
    display: block;
}
.ghibli .signup-register-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #bb7b87;
    font-size: 20px;
}