---
layout: default
---
<div class="container">
    <div class="inside">
        <div class="content-area">
            <main class="site-main">
                <article class="post">
                    <header class="entry-header">
                        <h1 class="entry-title"><span>{{ page.title }}</span></h1>
                        <span class="posted-on">{{ page.date | date: "%d/%m/%Y" }}</span>
                    </header>
                    
                  
                    <div class="entry-content">
                      {{ content }}
                      
                    </div>
                
                </article>
            </main>
        </div>
    </div>
</div>
